<div class="op">
<div class="card-all">

    <div class="ohmy">
    <div class="card-header">
        <div class="card-body">
        <h4><a class="card-link card-title" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
            <p class="card-text">Posted by {{user.username}} on {{format_date created_at}}</p>
        </div>
            <p class="card-p">"{{content}}"</p>
    </div>
</div>

</div>
</div>