

<div class="op">
    <div class="card-all">

        <div class="ohmy">
            <div class="card-header">
                <div class="card-body col">
                    <h4><a class="card-link row">{{title}}</a></h4>
                    <p class="card-text row">posted by '{{user.username}}' on {{format_date created_at}}</p>
                </div>
            <p class="card-p row">"{{content}}"</p>
            </div>
        </div>

    </div>
</div>

 {{!-- href="/post/{{id}} --}}